root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
max_line_length = off
trim_trailing_whitespace = true

[*.tindalwic]
indent_style = tab
insert_final_newline = false
trim_trailing_whitespace = false

[/grammar/test/corpus/*.txt]
indent_style = tab
trim_trailing_whitespace = false
